/*paleta de colores
    rgb(209, 245, 150)
    #BA96F5
    #7a49a5 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 245, 150);
    box-sizing: border-box;
}

.contenedor {
    background-image: url(/assets/img/pexels-emma-pollard-676280-1534925.jpg); /* Aquí colocas la ruta de tu imagen */
    background-size: 50%; /* Esto ajusta la imagen para que cubra todo el contenedor */
    /*background-position: center; /* Esto posiciona la imagen en el centro del contenedor */
    /*color: white;  Esto define el color del texto */
    text-align: center; /* Esto centra el texto dentro del contenedor */
    padding: 20px; /* Esto añade un poco de espacio alrededor del texto */
    border-radius: 5px;
  }

.logo{
    max-width: 45px;
}

main{
    margin-top: 50px;
}

.bg-general{
    background-color:rgb(209, 245, 150);
}

.cantidad {
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
}

.cantidad input{
    width: 190px;
    height: 33px;
    padding: 5px;
    border-radius: 5px;
}

h3{
    font-size: 3em;
    background-image: url(assets/img/pexels-emma-pollard-676280-1534925.jpg);
}

h4{
    font-size: 30px;
}

h3, h4, p, footer{
    color: black;
}

p{
    font-size: 1.2em;
    text-align: justify;
}

.seccion-formulario{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #7a49a5;
    border-radius: 10px;
    padding: 25px;
}

.sexo{
    padding-left: 15px;
}

footer{
    margin-top: 50px;
    padding: 10px;
    font-size: 20px;
}

.footer-nav ul li{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

